How do occupational outcomes differ between male and female health graduates, and is there evidence of vertical segregation (e.g., men in senior roles)? 

Focus: Analyse whether male graduates disproportionately occupy managerial/senior positions despite being a minority in healthcare fields.

In [1]:
# %pip install plotly
# %pip install --upgrade nbformat

# Imports
import pandas as pd
import numpy as np

In [2]:
# Load in the CSV for graduate regions by gender 
file_path = 'csv_version/graduate_regions_by_gender.csv'
df = pd.read_csv(file_path)
df.head()

,STATISTIC,Statistic Label,TLIST(A1),Graduation Year,C04477V05260,Field of Study,C03919V04671,Gender,C04300V05079,HSE Health Regions,UNIT,VALUE
0,HGO22C01,Number of Health Graduates,2010,2010,30,Nursing and Midwifery,10,Male,-,All HSE Regions,Number,54
1,HGO22C01,Number of Health Graduates,2010,2010,30,Nursing and Midwifery,10,Male,20,HSE Dublin and Midlands,Number,9
2,HGO22C01,Number of Health Graduates,2010,2010,30,Nursing and Midwifery,10,Male,10,HSE Dublin and North East,Number,12
3,HGO22C01,Number of Health Graduates,2010,2010,30,Nursing and Midwifery,10,Male,30,HSE Dublin and South East,Number,9
4,HGO22C01,Number of Health Graduates,2010,2010,30,Nursing and Midwifery,10,Male,50,HSE Midwest,Number,3

In [3]:
# Intial inspection of the data
print("shape of dataset", df.shape)
print("column names:")
print(df.columns.tolist())

shape of dataset (756, 12)
column names:
['STATISTIC', 'Statistic Label', 'TLIST(A1)', 'Graduation Year', 'C04477V05260', 'Field of Study', 'C03919V04671', 'Gender', 'C04300V05079', 'HSE Health Regions', 'UNIT', 'VALUE']

In [4]:
# is there missing rows?
print(df.isna().sum())

STATISTIC             0
Statistic Label       0
TLIST(A1)             0
Graduation Year       0
C04477V05260          0
Field of Study        0
C03919V04671          0
Gender                0
C04300V05079          0
HSE Health Regions    0
UNIT                  0
VALUE                 0
dtype: int64

No values are missing but in the head there is a dash for - C03919V04671 in the this is could be missing data I need the descriptor for this DS

https://db.nomics.world/CSO/HEO04/HEO04.-.-.-.IEZ999?tab=dimensions
cites that C03919V04671 references gender, 10 for male, 20 for female, and - for both genders

In [5]:
print("Unique values per column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} → {df[col].unique()[:10]}")

Unique values per column:
STATISTIC: 1 → ['HGO22C01']
Statistic Label: 1 → ['Number of Health Graduates']
TLIST(A1): 12 → [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]
Graduation Year: 12 → [2010 2011 2012 2013 2014 2015 2016 2017 2018 2019]
C04477V05260: 3 → [ 30 202 702]
Field of Study: 3 → ['Nursing and Midwifery' 'Medicine' 'Social Care']
C03919V04671: 3 → ['10' '20' '-']
Gender: 3 → ['Male' 'Female' 'All genders']
C04300V05079: 7 → ['-' '20' '10' '30' '50' '60' '40']
HSE Health Regions: 7 → ['All HSE Regions' 'HSE Dublin and Midlands' 'HSE Dublin and North East'
 'HSE Dublin and South East' 'HSE Midwest' 'HSE West and North West'
 'HSE South West']
UNIT: 1 → ['Number']
VALUE: 132 → [ 54   9  12   3 786 153 150 120  78 132]